.header {
    background-color: #36eef4;
    padding: 30px 40px;
    color: rgb(18, 16, 16);
    text-align: center;
  } 
.header:after {
    content: "";
    display: table;
    clear: both;
  }
  
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(192, 240, 216);
    font-size: 18px;
    transition: 0.2s;
}
ul li:hover {
    background: rgb(233, 152, 152);
  }
input {
    margin: 0;
    border-style: solid;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    border-style: solid;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }